
//Color Variables

$mainBlackColor: #000000;
$headerFontColor: #ffff;
$navBarTextColor: #444;
$hoverOrangeColor: #FFB700;
$mainOrangeColor: #FB8219;


//Time Variables

$hoverTransactionTime: 0.8s;
@font-face {
  font-family: 'ubuntu';
  src: url('../../fonts/ubuntu/Ubuntu-M.ttf');
}
